## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: kicksecure-meta-packages
Section: metapackages
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Homepage: https://github.com/Kicksecure/kicksecure-meta-packages
Vcs-Browser: https://github.com/Kicksecure/kicksecure-meta-packages
Vcs-Git: https://github.com/Kicksecure/kicksecure-meta-packages.git
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: firmware-nonfreedom
Architecture: all
Pre-Depends: legacy-dist
Depends: ${misc:Depends},
 firmware-amd-graphics,
 firmware-atheros,
 firmware-b43-installer,
 firmware-brcm80211,
 firmware-intel-sound,
 firmware-ipw2x00,
 firmware-iwlwifi,
 firmware-libertas,
 firmware-linux,
 firmware-linux-free,
 firmware-linux-nonfree,
 firmware-misc-nonfree,
 firmware-realtek,
 firmware-ti-connectivity,
 firmware-zd1211,
 intel-microcode,
 amd64-microcode
Section: non-free/metapackages
Description: Recommended packages for hosts with nonfreedom hardware design
 A metapackage, which includes nonfree firmware useful for hosts with
 nonfreedom hardware design.
 .
 These are not useful in Qubes, since this would be up to Qubes.
 .
 Safe to remove, if you know what you are doing.

Package: non-qubes-vm-enhancements-cli
Architecture: all
Pre-Depends: legacy-dist
Depends: vm-config-dist,
 keyboard-configuration, kbd, acpi-support, console-common, console-setup,
 udev, dmsetup,
 cryptsetup, zulucrypt-cli, libzulucrypt-plugins,
 swap-file-creator,
 tirdad,
 grub-live | grub-live-boot | boot-live,
 ${misc:Depends}
Description: Recommended packages for terminal based VMs CLI
 A metapackage, which includes recommended packages which are useful within
 CLI based non-Qubes virtual machines.
 These are not useful in Qubes, since Qubes
 already has native implementations for those.
 .
 Safe to remove, if you know what you are doing.

Package: non-qubes-vm-enhancements-gui
Architecture: all
Pre-Depends: legacy-dist
Depends: non-qubes-vm-enhancements-cli, zulucrypt-gui, rads,
 ${misc:Depends}
Description: Recommended packages for graphical VMs GUI
 A metapackage, which includes recommended packages which are useful within
 GUI based non-Qubes virtual machines.
 These are not useful in Qubes, since Qubes
 already has native implementations for those.
 .
 Safe to remove, if you know what you are doing.

Package: non-qubes-audio
Architecture: all
Pre-Depends: legacy-dist
Depends: wireplumber, pipewire-pulse, pipewire-audio, pavucontrol, libasound2, alsa-utils, ${misc:Depends}
Description: Recommended packages for Audio Support in non-Qubes
 A metapackage, which includes recommended packages which are useful to provide
 audio support.
 .
 These are not useful in Qubes, since Qubes
 already has its own native audio implementation.
 .
 Safe to remove, if you know what you are doing.

Package: kicksecure-dependencies-system
Architecture: all
Pre-Depends: legacy-dist
Depends: dracut | linux-initramfs-tool | initramfs-tools,
 ${misc:Depends}
Description: System for hardened systems
 A metapackage, which installs system packages which
 should be installed on hardened systems.
 .
 Currently only depends on boot process related dependencies.
 .
 Do not remove.

Package: kicksecure-dependencies-cli
Architecture: all
Pre-Depends: legacy-dist
Depends: init,
 locales,
 dist-base-files, apparmor-profile-dist, desktop-config-dist,
 setup-dist,
 apt-utils, apt-transport-tor,
 ca-certificates,
 dialog, menu,
 sudo,
 security-misc,
 repository-dist,
 sdwdate, bootclockrandomization, timesanitycheck,
 initializer-dist,
 ${misc:Depends}
Description: Dependencies for hardened systems CLI
 A metapackage, which installs command line interface (CLI) packages which
 should be installed on hardened systems.
 .
 Do not remove.

Package: kicksecure-recommended-cli
Architecture: all
Pre-Depends: legacy-dist
Depends:
 haveged, jitterentropy-rngd,
 man-db,
 bzip2,
 net-tools, dnsutils, iputils-ping, iotop,
 file, lsof, pciutils, strace, sysfsutils, procps, e2fsprogs,
 less, most, apparmor-utils, auditd,
 bash-completion, nano,
 udisks2, libblockdev-crypto2,
 sensible-utils,
 secure-delete,
 openvpn, curl, torsocks,
 systemcheck, usability-misc, open-link-confirmation,
 hardened-malloc | dummy-dependency,
 apparmor-profiles-kicksecure | dummy-dependency-apparmor-profiles-kicksecure,
 ${misc:Depends}
Description: Recommended packages for Kicksecure
 A metapackage, which includes recommended packages to ensure, Kicksecure
 standard tools are available.
 .
 Safe to remove, if you know what you are doing.

Package: kicksecure-default-applications-cli
Architecture: all
Pre-Depends: legacy-dist
Depends:
 fuse,
 extrepo, equivs, flatpak,
 pwgen, diceware, makepasswd,
 codecrypt, magic-wormhole,
 gpg, gpg-agent, dirmngr,
 ${misc:Depends}
Description: Default applications packages for Kicksecure
 A metapackage, which includes default packages to ensure, Kicksecure
 useful recommended tools are installed.
 .
 Safe to remove, if you know what you are doing.

## XXX: adding xserver-xorg-video-vmware (used by VirtualBox, yes VirtualBox)
##      here is non-ideal as this
##      installs these packages on the host and in all virtualizers too.
##
## xserver-xorg-video-vmware is required by VirtualBox which uses VMWare's
## VMSVGA graphic device.
Package: kicksecure-desktop-environment-essential-gui
Architecture: all
Pre-Depends: legacy-dist
Depends: xserver-xorg,
 xserver-xorg-video-fbdev,
 xserver-xorg-video-vesa,
 xserver-xorg-video-vmware | dummy-dependency-xorg-vm,
 libgl1-mesa-dri,
 upower,
 gtk2-engines-pixbuf,
 x11-xserver-utils,
 desktop-config-dist, desktop-config-dist-dependencies,
 ${misc:Depends}
Description: Desktop Depends GUI
 A metapackage, which installs dependencies for desktop environments,
 such as KDE, GNOME, etc.
 .
 kicksecure-desktop-environment-essential-xfce depends on this package.

Package: kicksecure-desktop-environment-essential-xfce
Architecture: all
Pre-Depends: legacy-dist
Depends: kicksecure-desktop-environment-essential-gui,
 xfce4, lightdm,
 gnome-brave-icon-theme,
 ${misc:Depends}
Description: Recommended applications for hardened Xfce Desktop Environment
 A metapackage, which installs minimal, yet complete enough
 to contain a very basic Xfce Desktop Environment.
 .
 Safe to remove.

Package: kicksecure-desktop-applications-xfce
Architecture: all
Pre-Depends: legacy-dist
## When depeding on virtual package 'polkit-1-auth-agent', i.e.
## 'policykit-1-gnome | polkit-1-auth-agent' then 'policykit-1-gnome' will not
## be installed. At time of writing 'polkit-1-auth-agent' was the only package
## that 'Provides:' 'polkit-1-auth-agent' anyhow.
Depends: libexo-2-0, xfce4-terminal, mousepad,
 lxqt-sudo, polkitd, pkexec, policykit-1-gnome,
 p7zip-full, zip, unzip, xz-utils, unar, xarchiver,
 thunar, thunar-archive-plugin, thunar-volman, gvfs,
 ${misc:Depends}
Description: Recommended applications for hardened Xfce desktop GUI
 A metapackage, which installs minimal, yet complete enough
 to contain the very basics, Xfce applications.
 .
 Safe to remove.

Package: kicksecure-desktop-applications-recommended
Architecture: all
Pre-Depends: legacy-dist
Depends: ristretto, tumbler,
 keepassxc,
 vlc, hunspell-en-us, gpa,
 electrum | dummy-dependency-electrum,
 firefox-esr | dummy-dependency,
 sdwdate-gui,
 repository-dist-wizard,
 setup-wizard-dist,
 kicksecure-welcome-page,
 ${misc:Depends}
Description: Kicksecure Recommended Desktop Applications
 A metapackage, which installs recommended packages, for graphical user
 interface (GUI) Kicksecure.
 .
 Do not remove.

Package: apparmor-profiles-kicksecure
Architecture: all
Pre-Depends: legacy-dist
Depends: apparmor-profiles,
 apparmor-profiles-extra,
 apparmor-profile-thunderbird,
 apparmor-profile-torbrowser,
 apparmor-profile-hexchat,
 ${misc:Depends}
Description: AppArmor profiles developed by the Kicksecure Team
 A metapackage, which installs apparmor profiles packages from Debian:
 .
  * apparmor-profile
  * apparmor-profiles-extra
 .
 as well as installs apparmor profiles developed by the Kicksecure team:
 .
  * apparmor-profile-thunderbird
  * apparmor-profile-torbrowser
  * apparmor-profile-hexchat
 .
 Increases security.
 .
 Safe to remove, if you know what you are doing.

Package: kicksecure-packages-dependencies-pre
Architecture: all
Depends: dist-base-files, kicksecure-network-conf, ${misc:Depends}
Description: Dependencies for Kicksecure that changes network related files
 A metapackage, which installs packages which Kicksecure depends on. Can not
 be merged into another package due to conflicts with chroot build process.
 .
 Do not remove.

Package: kicksecure-cli
Architecture: all
Pre-Depends: legacy-dist
Depends: kicksecure-dependencies-cli,
 kicksecure-recommended-cli,
 kicksecure-default-applications-cli,
 kicksecure-base-files, anon-apt-sources-list,
 obfs4proxy,
 ntfs-3g, dosfstools, lvm2,
 ${misc:Depends}
Description: Kicksecure command line interface CLI
 A metapackage, which installs packages, for Kicksecure CLI.
 .
 Do not remove.

Package: kicksecure-cli-host
Architecture: all
Pre-Depends: legacy-dist
Depends: kicksecure-dependencies-system,
 kicksecure-cli-host-packages-recommended,
 kicksecure-cli,
 ${misc:Depends}
Description: Kicksecure Host command line interface CLI
 A metapackage, which installs packages, for Kicksecure CLI Host.
 .
 Do not remove.

Package: kicksecure-cli-vm
Architecture: all
Pre-Depends: legacy-dist
Depends: kicksecure-dependencies-system,
 kicksecure-cli,
 non-qubes-vm-enhancements-cli,
 kicksecure-network-conf,
 ${misc:Depends}
Description: Kicksecure command line interface CLI VMs
 A metapackage, which installs packages, for Kicksecure CLI Virtual Machines.
 .
 Not suitable for Qubes since it depends on packages not yet compatible
 with Qubes.
 .
 Do not remove.

Package: kicksecure-xfce
Architecture: all
Pre-Depends: legacy-dist
Depends: kicksecure-cli,
 kicksecure-desktop-environment-essential-xfce,
 kicksecure-desktop-applications-xfce,
 ${misc:Depends}
Description: Kicksecure Xfce GUI
 A metapackage, which installs packages, for Kicksecure Xfce.
 .
 Do not remove.

Package: kicksecure-cli-host-packages-recommended
Architecture: all
Pre-Depends: legacy-dist
Depends: tirdad,
 ${misc:Depends}
Description: Recommended Kicksecure Host CLI Packages
 A metapackage, which installs packages, which are recommended for
 Kicksecure CLI Host.
 .
 Not useful to have inside Qubes.
 .
 Safe to remove, if you know what you are doing.

Package: kicksecure-shared-host-xfce
Architecture: all
Pre-Depends: legacy-dist
Depends: non-qubes-audio,
 xfce4-power-manager, xfce4-xkb-plugin, xfce4-screenshooter,
 gnome-system-monitor, gparted,
 sdwdate-gui,
 xscreensaver,
 grub-live | grub-live-boot | boot-live,
 ${misc:Depends}
Description: Kicksecure Shared Host Xfce GUI
 A metapackage, which installs packages, which are recommended for
 Kicksecure Xfce Host as well as a Whonix-Host with a graphical user interface
 (GUI).
 .
 Safe to remove, if you know what you are doing.

Package: kicksecure-xfce-host
Architecture: all
Pre-Depends: legacy-dist
Depends: kicksecure-cli-host,
 kicksecure-xfce,
 kicksecure-network-conf, kicksecure-network-conf-gui,
 kicksecure-shared-host-xfce,
 kicksecure-desktop-applications-recommended,
 ${misc:Depends}
Description: Kicksecure Host Xfce GUI
 A metapackage, which installs packages, for Kicksecure Xfce Host.
 .
 Do not remove.

Package: kicksecure-xfce-vm
Architecture: all
Pre-Depends: legacy-dist
Depends: kicksecure-cli-vm,
 kicksecure-xfce,
 kicksecure-network-conf-gui,
 non-qubes-audio,
 non-qubes-vm-enhancements-gui,
 kicksecure-desktop-applications-recommended,
 ${misc:Depends}
Description: Kicksecure Xfce GUI for VMs
 A metapackage, which installs packages, for Kicksecure Xfce in Virtual
 Machines.
 .
 Not suitable for Qubes since it depends on packages not yet compatible
 with Qubes.
 .
 Do not remove.

Package: kicksecure-qubes-cli
Architecture: all
Pre-Depends: legacy-dist
Depends: kicksecure-cli,
 ${misc:Depends}
Description: Default packages for Kicksecure-Qubes CLI
 A metapackage, which installs packages, for Kicksecure on Qubes without
 recommended GUI applications.
 .
 Currently only depends on kicksecure-cli but useful for future maintenance in
 case Qubes specific changes will be required.
 .
 Do not remove.

Package: kicksecure-qubes-gui
Architecture: all
Pre-Depends: legacy-dist
Depends: kicksecure-qubes-cli,
 kicksecure-desktop-applications-recommended,
 ${misc:Depends}
Description: Default packages for Kicksecure-Qubes GUI
 A metapackage, which installs packages, for Kicksecure on Qubes including
 recommended GUI applications.
 .
 Do not remove.

Package: orca-screen-reader-support
Architecture: all
Pre-Depends: legacy-dist
Depends: non-qubes-audio,
 orca, gstreamer1.0-plugins-good, libatk-adaptor, libgail-common,
 xbrlapi, python3-gst-1.0, speech-dispatcher-espeak-ng, sound-icons,
 ${misc:Depends}
Description: dependencies for the orca screen reader
 A metapackage, which includes depencency packages for the orca screen reader.
 .
 Safe to remove if its removal does not remove another metapackage, which is
 not safe to remove.

Package: dummy-contrib
Architecture: all
Depends: ${misc:Depends}
Section: contrib/metapackages
Description: dummy contrib package
 A metapackage, without contents to populate the contrib repository.
 .
 This package itself is not nonfree.
 This package itself is Free, Open, Freedom, Libre Software.
 .
 Useful for testing vrms without installation of an actual contrib package.
 .
 Safe to remove.

Package: dummy-nonfree
Architecture: all
Depends: ${misc:Depends}
Section: non-free/metapackages
Description: dummy nonfree package
 A metapackage, without contents to populate the nonfree repository.
 .
 This package itself is not nonfree.
 This package itself is Free, Open, Freedom, Libre Software.
 .
 Useful for testing vrms without installation of an actual nonfree package.
 .
 Safe to remove.

Package: dummy-dependency
Architecture: all
Depends: ${misc:Depends}
Provides: tb-updater, tb-starter, tb-default-browser,
 qubes-core-agent-passwordless-root,
 firefox-esr
Description: dummy package to satisfy architecture specific dependencies
 A metapackage, which satisfies the dependency on:
 .
  - tb-updater
  - tb-starter
  - tb-default-browser
  - qubes-core-agent-passwordless-root
  - firefox-esr
 .
 This package cannot provide a real implementation of that package. It is only
 a dummy to satisfy the dependency.
 .
 Safe to remove if its removal does not remove another metapackage, which is
 not safe to remove.

Package: dummy-dependency-bindp
Architecture: all
Depends: ${misc:Depends}
Provides: bindp
Description: dummy package to satisfy architecture specific dependency bindp
 A metapackage, which satisfies the dependency on bindp.
 .
 This package cannot provide a real implementation of that package. It is only
 a dummy to satisfy the dependency.
 .
 Safe to remove if its removal does not remove another metapackage, which is
 not safe to remove.

Package: dummy-dependency-kloak
Architecture: all
Depends: ${misc:Depends}
Provides: kloak
Description: dummy package to satisfy architecture specific dependency kloak
 A metapackage, which satisfies the dependency on kloak.
 .
 This package cannot provide a real implementation of that package. It is only
 a dummy to satisfy the dependency.
 .
 Safe to remove if its removal does not remove another metapackage, which is
 not safe to remove.

Package: dummy-dependency-tirdad
Architecture: all
Depends: ${misc:Depends}
Provides: tirdad
Description: dummy package to satisfy architecture specific dependency tirdad
 A metapackage, which satisfies the dependency on tirdad.
 .
 This package cannot provide a real implementation of that package. It is only
 a dummy to satisfy the dependency.
 .
 Safe to remove if its removal does not remove another metapackage, which is
 not safe to remove.

Package: dummy-dependency-hardened-malloc
Architecture: all
Depends: ${misc:Depends}
Provides: hardened-malloc
## TODO:
## Provides: hardened-malloc-kicksecure-enable, hardened-malloc-light-enable
Description: dummy package to satisfy architecture specific dependency hardened-malloc
 A metapackage, which satisfies the dependency on:
 .
 hardened-malloc
 .
 This package cannot provide a real implementation of that package. It is only
 a dummy to satisfy the dependency.
 .
 Safe to remove if its removal does not remove another metapackage, which is
 not safe to remove.

Package: dummy-dependency-electrum
Architecture: all
Depends: ${misc:Depends}
Provides: electrum, dummy-dependency-hardened-electrum
Replaces: dummy-dependency-hardened-electrum
Description: dummy package to satisfy architecture specific dependency electrum
 A metapackage, which satisfies the dependency on electrum.
 .
 This package cannot provide a real implementation of that package. It is only
 a dummy to satisfy the dependency.
 .
 Safe to remove if its removal does not remove another metapackage, which is
 not safe to remove.

Package: dummy-dependency-xorg-vm
Architecture: all
Depends: ${misc:Depends}
Provides: xserver-xorg-video-vmware
Description: dummy dependency xserver-xorg-video-vmware
 A metapackage, which satisfies the dependency on xserver-xorg-video-vmware.
 .
 This package cannot provide a real implementation of that package. It is only
 a dummy to satisfy the dependency.
 .
 Safe to remove if its removal does not remove another metapackage, which is
 not safe to remove.

Package: dummy-dependency-apparmor-profiles-kicksecure
Architecture: all
Depends: ${misc:Depends}
Provides: apparmor-profiles-kicksecure
Description: dummy package apparmor-profiles-kicksecure
 A metapackage, which satisfies the dependency on apparmor-profiles-kicksecure.
 .
 This package cannot provide a real implementation of that package. It is only
 a dummy to satisfy the dependency.
 .
 Safe to remove if its removal does not remove another metapackage, which is
 not safe to remove.
