## Copyright (C) 2012 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: kicksecure-meta-packages
Section: metapackages
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Homepage: https://github.com/Whonix/kicksecure-meta-packages
Vcs-Browser: https://github.com/Whonix/kicksecure-meta-packages
Vcs-Git: https://github.com/Whonix/kicksecure-meta-packages.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: firmware-nonfreedom
Architecture: all
Pre-Depends: whonix-legacy
Depends: ${misc:Depends},
 firmware-amd-graphics,
 firmware-atheros,
 firmware-b43-installer,
 firmware-brcm80211,
 firmware-intel-sound,
 firmware-ipw2x00,
 firmware-iwlwifi,
 firmware-libertas,
 firmware-linux,
 firmware-linux-free,
 firmware-linux-nonfree,
 firmware-misc-nonfree,
 firmware-realtek,
 firmware-ti-connectivity,
 firmware-zd1211,
 intel-microcode,
 amd64-microcode
Section: non-free/metapackages
Description: Recommended packages for hosts with nonfreedom hardware design
 A metapackage, which includes nonfree firmware useful for hosts with
 nonfreedom hardware design.
 .
 These are not useful in Qubes, since this would be up to Qubes.
 .
 Safe to remove, if you know what you are doing.

Package: non-qubes-vm-enhancements-cli
Architecture: all
Depends: vm-config-dist,
 keyboard-configuration, kbd, acpi-support, console-common, console-setup,
 udev, dmsetup,
 cryptsetup, zulucrypt-cli, libzulucrypt-plugins,
 swap-file-creator, tirdad,
 grub-live | grub-live-boot | boot-live,
 ${misc:Depends}
Replaces: non-qubes-vm-enhancements
Description: Recommended packages for terminal based VMs CLI
 A metapackage, which includes recommended packages which are useful within
 CLI based non-Qubes virtual machines.
 These are not useful in Qubes, since Qubes
 already has native implementations for those.
 .
 Safe to remove, if you know what you are doing.

Package: non-qubes-vm-enhancements-gui
Architecture: all
Depends: non-qubes-vm-enhancements-cli, zulucrypt-gui, rads,
 ${misc:Depends}
Description: Recommended packages for graphical VMs GUI
 A metapackage, which includes recommended packages which are useful within
 GUI based non-Qubes virtual machines.
 These are not useful in Qubes, since Qubes
 already has native implementations for those.
 .
 Safe to remove, if you know what you are doing.

Package: non-qubes-audio
Architecture: all
Depends: libasound2, alsa-utils, pulseaudio, pavucontrol, ${misc:Depends}
Replaces: non-qubes-vm-audio
Description: Recommended packages for Audio Support in non-Qubes
 A metapackage, which includes recommended packages which are useful to provide
 audio support.
 .
 These are not useful in Qubes, since Qubes
 already has its own native audio implementation.
 .
 Safe to remove, if you know what you are doing.

Package: kicksecure-dependencies-system
Architecture: all
Depends: dracut | linux-initramfs-tool | initramfs-tools,
 ${misc:Depends}
Description: System for hardened systems
 A metapackage, which installs system packages which
 should be installed on hardened systems.
 .
 Currently only depends on boot process related dependencies.
 .
 Do not remove.

Package: kicksecure-dependencies-cli
Architecture: all
Depends: init,
 bzip2, file, lsof, most, pciutils, strace, sysfsutils, procps,
 less, haveged, jitterentropy-rngd, locales, e2fsprogs,
 apt-transport-tor, apt-transport-https, ca-certificates,
 sdwdate, bootclockrandomization, timesanitycheck,
 busybox, dialog,
 dist-base-files,
 security-misc,
 bash-completion, zsh, nano, wget, dnsutils, iputils-ping,
 apt-utils,
 apparmor-utils, apparmor-profile-dist,
 udisks2, libblockdev-crypto2,
 secure-delete, sudo, net-tools,
 repository-dist,
 openvpn,
 curl,
 sensible-utils,
 usability-misc, menu, man-db, open-link-confirmation,
 whonix-initializer,
 hardened-malloc | dummy-dependency,
 ${misc:Depends}
Replaces: anon-shared-packages-dependencies, anon-shared-packages-recommended,
 hardened-packages-dependencies-cli
Description: Dependencies for hardened systems CLI
 A metapackage, which installs command line interface (CLI) packages which
 should be installed on hardened systems.
 .
 Do not remove.

Package: kicksecure-recommended-cli
Architecture: all
Depends: fasttrack-archive-keyring, obfs4proxy, extrepo, flatpak,
 ${misc:Depends}
Description: Recommended packages for Kicksecure
 A metapackage, which includes recommended packages to ensure, Kicksecure
 standard tools are available and other useful recommended packages.
 .
 Safe to remove, if you know what you are doing.

## XXX: adding xserver-xorg-video-vmware (used by VirtualBox, yes VirtualBox)
##      and xserver-xorg-video-qxl (used by KVM) here is non-ideal as this
##      installs these packages on the host and in all virtualizers too.
##
## xserver-xorg-video-vmware is required by VirtualBox which uses VMWare's
## VMSVGA graphic device.
Package: kicksecure-desktop-environment-essential-gui
Architecture: all
Depends: xserver-xorg,
 xserver-xorg-video-qxl,
 xserver-xorg-video-fbdev,
 xserver-xorg-video-vesa,
 xserver-xorg-video-vmware | dummy-dependency,
 libgl1-mesa-dri,
 upower,
 gtk2-engines-pixbuf,
 x11-xserver-utils,
 ${misc:Depends}
Replaces: anon-shared-desktop, hardened-desktop-environment-essential-gui
Description: Desktop Depends GUI
 A metapackage, which installs dependencies for desktop environments,
 such as KDE, GNOME, etc.
 .
 kicksecure-desktop-environment-essential-xfce depends on this package.

Package: kicksecure-desktop-environment-essential-xfce
Architecture: all
Depends: kicksecure-desktop-environment-essential-gui,
 xfce4, gdm3,
 gnome-brave-icon-theme,
 whonix-xfce-desktop-config, ${misc:Depends}
Replaces: hardened-desktop-environment-essential-xfce
Description: Recommended applications for hardened Xfce Desktop Environment
 A metapackage, which installs minimal, yet complete enough
 to contain a very basic Xfce Desktop Environment.
 .
 Safe to remove.

Package: kicksecure-desktop-applications-xfce
Architecture: all
Depends: libexo-2-0, xfce4-terminal, mousepad,
 lxqt-sudo, policykit-1, policykit-1-gnome | polkit-1-auth-agent,
 p7zip-full, zip, unzip, xz-utils, unar, xarchiver,
 thunar, thunar-archive-plugin, thunar-volman, gvfs,
 ${misc:Depends}
Replaces: hardened-desktop-applications-xfce
Description: Recommended applications for hardened Xfce desktop GUI
 A metapackage, which installs minimal, yet complete enough
 to contain the very basics, Xfce applications.
 .
 Safe to remove.

Package: kicksecure-desktop-applications-recommended
Architecture: all
Depends: repository-dist-wizard,
 ristretto, tumbler,
 keepassxc,
 chromium | dummy-dependency,
 chromium-sandbox | dummy-dependency,
 electrum | dummy-dependency,
 monero-gui | dummy-dependency,
 sdwdate-gui,
 ${misc:Depends}
Description: Kicksecure Recommended Desktop Applications
 A metapackage, which installs recommended packages, for graphical user
 interface (GUI) Kicksecure.
 .
 Do not remove.

Package: apparmor-profiles-kicksecure
Replaces: apparmor-profiles-whonix, apparmor-profiles-hardened-debian
Architecture: all
Depends: apparmor-profile-thunderbird,
 apparmor-profile-torbrowser,
 apparmor-profile-hexchat,
 ${misc:Depends}
Description: AppArmor profiles developed by the Kicksecure Team
 A metapackage, which installs apparmor profiles developed by the Hardened
 Debian team.
 .
 Increases security.
 .
 Safe to remove, if you know what you are doing.

Package: kicksecure-packages-dependencies-pre
Architecture: all
Depends: dist-base-files, kicksecure-network-conf, ${misc:Depends}
Description: Dependencies for Kicksecure that changes network related files
 A metapackage, which installs packages which Kicksecure depends on. Can not
 be merged into another package due to conflicts with chroot build process.
 .
 Do not remove.

Package: kicksecure-cli
Replaces: hardened-debian-cli
Architecture: all
Depends: kicksecure-dependencies-cli,
 kicksecure-recommended-cli,
 kicksecure-base-files, anon-apt-sources-list,
 ntfs-3g, dosfstools, lvm2,
 ${misc:Depends}
Description: Kicksecure command line interface CLI
 A metapackage, which installs packages, for Kicksecure CLI.
 .
 Do not remove.

Package: kicksecure-cli-host
Architecture: all
Depends: kicksecure-dependencies-system,
 kicksecure-cli,
 ${misc:Depends}
Description: Kicksecure Host command line interface CLI
 A metapackage, which installs packages, for Kicksecure CLI Host.
 .
 Do not remove.

Package: kicksecure-cli-vm
Architecture: all
Depends: kicksecure-dependencies-system,
 kicksecure-cli,
 non-qubes-vm-enhancements-cli,
 kicksecure-network-conf,
 ${misc:Depends}
Description: Kicksecure command line interface CLI VMs
 A metapackage, which installs packages, for Kicksecure CLI Virtual Machines.
 .
 Not suitable for Qubes since it depends on packages not yet compatible
 with Qubes.
 .
 Do not remove.

Package: kicksecure-xfce
Replaces: hardened-debian-xfce
Architecture: all
Depends: kicksecure-cli,
 kicksecure-desktop-environment-essential-xfce,
 kicksecure-desktop-applications-xfce,
 ${misc:Depends}
Description: Kicksecure Xfce GUI
 A metapackage, which installs packages, for Kicksecure Xfce.
 .
 Do not remove.

Package: kicksecure-shared-host-xfce
Architecture: all
Depends: non-qubes-audio,
 xfce4-power-manager, xfce4-xkb-plugin, xfce4-screenshooter,
 gnome-system-monitor, gparted,
 sdwdate-gui,
 grub-live | grub-live-boot | boot-live,
 ${misc:Depends}
Description: Kicksecure Shared Host Xfce GUI
 A metapackage, which installs packages, which are recommended for
 Kicksecure Xfce Host as well as a Whonix-Host with a graphical user interface
 (GUI).
 .
 Safe to remove, if you know what you are doing.

Package: kicksecure-xfce-host
Architecture: all
Depends: kicksecure-cli-host,
 kicksecure-xfce,
 kicksecure-network-conf, kicksecure-network-conf-gui,
 kicksecure-shared-host-xfce,
 kicksecure-desktop-applications-recommended,
 ${misc:Depends}
Description: Kicksecure Host Xfce GUI
 A metapackage, which installs packages, for Kicksecure Xfce Host.
 .
 Do not remove.

Package: kicksecure-xfce-vm
Architecture: all
Depends: kicksecure-cli-vm,
 kicksecure-xfce,
 kicksecure-network-conf-gui,
 non-qubes-audio,
 non-qubes-vm-enhancements-gui,
 kicksecure-desktop-applications-recommended,
 ${misc:Depends}
Description: Kicksecure Xfce GUI for VMs
 A metapackage, which installs packages, for Kicksecure Xfce in Virtual
 Machines.
 .
 Not suitable for Qubes since it depends on packages not yet compatible
 with Qubes.
 .
 Do not remove.

Package: kicksecure-qubes-cli
Architecture: all
Depends: kicksecure-cli,
 ${misc:Depends}
Description: Default packages for Kicksecure-Qubes CLI
 A metapackage, which installs packages, for Kicksecure on Qubes without
 recommended GUI applications.
 .
 Currently only depends on kicksecure-cli but useful for future maintenance in
 case Qubes specific changes will be required.
 .
 Do not remove.

Package: kicksecure-qubes-gui
Architecture: all
Depends: kicksecure-qubes-cli,
 kicksecure-desktop-applications-recommended,
 ${misc:Depends}
Description: Default packages for Kicksecure-Qubes GUI
 A metapackage, which installs packages, for Kicksecure on Qubes including
 recommended GUI applications.
 .
 Do not remove.

Package: dummy-contrib
Architecture: all
Depends: ${misc:Depends}
Section: contrib/metapackages
Description: dummy contrib package
 A metapackage, without contents to populate the contrib repository.
 .
 This package itself is not nonfree.
 This package itself is Free, Open, Freedom, Libre Software.
 .
 Useful for testing vrms without installation of an actual contrib package.
 .
 Safe to remove.

Package: dummy-nonfree
Architecture: all
Depends: ${misc:Depends}
Section: non-free/metapackages
Description: dummy nonfree package
 A metapackage, without contents to populate the nonfree repository.
 .
 This package itself is not nonfree.
 This package itself is Free, Open, Freedom, Libre Software.
 .
 Useful for testing vrms without installation of an actual nonfree package.
 .
 Safe to remove.

Package: dummy-dependency
Architecture: all
Depends: ${misc:Depends}
Provides: bindp, lkrg, kloak,
 hardened-malloc, hardened-malloc-kicksecure-enable,
 tb-updater, tb-starter, tb-default-browser,
 tirdad, binaries-freedom, monero-gui, xserver-xorg-video-vmware,
 qubes-core-agent-passwordless-root,
 firefox-esr,
 chromium, chromium-sandbox,
 electrum
Description: dummy package to satisfy architecture specific dependencies
 A metapackage, which satisfies the dependency on:
 .
  - bindp
  - lkrg
  - kloak
  - hardened-malloc
  - hardened-malloc-kicksecure-enable
  - tb-updater
  - tb-starter
  - tb-default-browser
  - tirdad
  - binaries-freedom
  - monero-gui
  - xserver-xorg-video-vmware
  - qubes-core-agent-passwordless-root
  - orca-screen-reader-support
  - firefox-esr
  - chromium
  - chromium-sandbox
  - electrum
 .
 This package cannot provide a real implementation of that package. It is only
 a dummy to satisfy the dependency.
 .
 Safe to remove if its removal does not remove another metapackage, which is
 not safe to remove.

Package: orca-screen-reader-support
Architecture: all
Depends: non-qubes-audio,
 orca, gstreamer1.0-plugins-good, libatk-adaptor, libgail-common,
 xbrlapi, python3-gst-1.0, speech-dispatcher-espeak-ng, sound-icons,
 ${misc:Depends}
Description: dependencies for the orca screen reader
 A metapackage, which includes depencency packages for the orca screen reader.
 .
 Safe to remove if its removal does not remove another metapackage, which is
 not safe to remove.
